
/**
 * 6.10 Contributor Page
 * -----------------------------------------------------------------------------
 */
.contributor {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:      border-box;
	padding: 48px 10px;
}

.contributor:first-of-type {
	padding-top: 24px;
}

.contributor-info {
	margin: 0 auto;
	max-width: 474px;
}

.contributor-avatar {
	border: 1px solid rgba(0, 0, 0, 0.1);
	float: left;
	margin: 0 30px 20px 0;
	padding: 2px;
}

.contributor-name {
	font-size: 16px;
	font-weight: 900;
	line-height: 1.5;
	margin: 0;
}

.contributor-bio a {
	text-decoration: underline;
}

.contributor-bio a:hover {
	text-decoration: none;
}

.contributor-posts-link {
	display: inline-block;
	line-height: normal;
	padding: 10px 30px;
}

.contributor-posts-link:before {
	content: "\f443";
}


/**
 * 6.11 404 Page
 * -----------------------------------------------------------------------------
 */

.page-error404 {
	.site-content{
		padding: 100px 0;
	}
	.page-content{
		padding: 0 15%;
		font-size: 20px;
		color: $black;
		font-weight: 300;
	}
	.page-header{
		border: none;
		margin: 45px 0 60px;
	}
	.page-title{
		text-transform: none;
		font-size: 36px;
		color: $black;
		font-weight: 300;
	}
	.page-action {
		margin-top: 45px;
		> a{
			background: none;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 14px;
			color: $black;
			border: none;
			@include transition(all 0.35s);
			&:hover{
				color: $theme-color;
			}
		}
	}
}

.search.search-results{
	h1.page-title{
		font-size: 30px;
	}
}

.main-index{
	.site-content{
		> .post{
			margin-bottom: 20px;
			.entry-header{
				min-height: 120px;
				position: relative;
				padding-left: 135px;
				border-bottom: 1px solid $border-color;
				margin-bottom: 40px;
				.main-header{
					position: absolute;
					left: 135px;
			      top: 50%;
			      -webkit-transform: translateY(-50%);
			      -ms-transform: translateY(-50%);
			      transform: translateY(-50%);
				}
			}	
			.entry-title{
				padding-top: 10px;
			}
			.created{
				min-height: 120px;
				padding: 20px 20px 0;
				color: $black;
				font-weight: 700;
				background: $theme-color;
				position: absolute;
				top: 0;
				left: 0;
				line-height: 1;
				.date{
					font-size: 60px;
					display: block;
					text-transform: uppercase;
				}
				.year{
					display: block;
					font-size: 12px;
					text-transform: uppercase;
				}
			}
			&.sticky{
				.entry-title{
					padding-top: 0;
				}
				.entry-header{
					border: 1px solid $theme-color;
					background: #f5f5f5;
				}
			} 
		}
	}
}